<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{/layout/header :: copy}"></div>
<div class="container">
    <div th:text="${board.boardId}"></div>
    <div th:text="${board.title}"></div>
    <div th:utext="${board.content}"></div>
    <div th:text="${board.nickName}"></div>
    <button th:onclick="|location.href='@{/board/delete/}' + ${board.boardId}|">삭제하기</button>
    <button th:onclick="|location.href='@{/board/updateForm/}' + ${board.boardId}|">수정하기</button>
</div>
<div class="col-lg-10">
    <button class="button" th:each="board : ${boardList}" th:onclick="|location.href='@{/board/}' + ${board.boardId}|">
        <img th:src="${board.thumbnail}" height="200px" width="290px">
        <div th:text="${board.boardId}">id</div>
        <div class="title" th:text="${board.title}">title</div>
        <div class="ellipsis" th:utext="${board.content}"></div>
        <div th:text="${board.nickName}">nickname</div>
    </button>
</div>

<div class="card">
    <form method="post" action="/{boardId}/reply">
<!--        <input type="hidden" id="userId" th:value="${board.user.id}" />-->
<!--        <input type="hidden" id="boardId" th:value="${board.id}" />-->
        <div class="card-body">
            <textarea id="reply-content" class="form-control" rows="1"></textarea>
        </div>
        <div class="card-footer">
            <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
        </div>
    </form>
</div>


<div class="col-lg-10">
    <div class="card-header">댓글 목록</div>
    <ul id="reply-box" class="list-group">
        <li th:each="reply : ${board.replies}" th:id="'reply-' + ${reply.id}"
            class="list-group-item d-flex justify-content-between">
            <div th:text="${reply.content}"></div>
            <div class="d-flex">
                <div class="font-italic">작성자: <span th:text="${reply.user.username}"></span></div>
                <button th:if="${reply.user.id eq principal.user.id}"
                        th:onclick="'index.replyDelete(' + ${board.id} + ', ' + ${reply.id} + ')'" class="badge">삭제
                </button>
            </div>
        <li th:each="childReply : ${reply.childReplies}" th:id="'reply-' + ${childReply.id}"
            class="list-group-item d-flex justify-content-between">
            <div th:text="${childReply.content}"></div>
            <div class="d-flex">
                <div class="font-italic">작성자: <span th:text="${childReply.user.username}"></span></div>
                <button th:if="${childReply.user.id eq principal.user.id}"
                        th:onclick="'index.replyDelete(' + ${board.id} + ', ' + ${childReply.id} + ')'" class="badge">삭제
                </button>
            </div>
        </li>
        </li>
    </ul>
</div>
</body>