<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>


</head>
<body>
<div th:replace="~{/layout/header :: header}"></div>
<div class="container">
    <form method="post" id="boardSaveForm" action="/board/save" class="mt-5">
        <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="제목">
        </div>
        <div class="form-group">
            <textarea id="summernote" class="form-control" name="content" placeholder="내용"></textarea>
        </div>
        <input type="text" id="thumbnailContent" name="thumbnailContent" style="display: none;">
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
</div>
<script>
    $(document).ready(() => {
        let thumbnailContent = "";
        $('#summernote').summernote({
            height: 500,
            maxHeight: 500,
            callbacks: {
                onChange: function(contents) {
                    const thumbnailContentElement = document.getElementById('thumbnailContent');
                    const thumbnailContent = removeFileElements(contents);

                    if (thumbnailContent.length < 100) {
                        thumbnailContentElement.value = thumbnailContent;
                    }
                    console.log(thumbnailContentElement.value);
                }
            }
        });
    });
    function removeFileElements(contents) {
        let temp = document.createElement('div');
        temp.innerHTML = contents;

        let imgElements = temp.getElementsByTagName('img');
        let aElements = temp.getElementsByTagName('a');
        let brElements = temp.getElementsByTagName('br');

        // img 태그 삭제
        for (let i = imgElements.length - 1; i >= 0; i--) {
            let imgElement = imgElements[i];
            imgElement.parentNode.removeChild(imgElement);
        }

        // a 태그 삭제
        for (let i = aElements.length - 1; i >= 0; i--) {
            let aElement = aElements[i];
            aElement.parentNode.removeChild(aElement);
        }

        // br 태그 삭제
        for (let i = brElements.length - 1; i >= 0; i--) {
            let brElement = brElements[i];
            brElement.parentNode.removeChild(brElement);
        }

        let pattern = /(\r?\n|\r)|<p[^>]*>|<\/p>/g; // 줄 바꿈 문자와 <p></p> 패턴을 나타내는 정규식 패턴
        return temp.innerHTML.replace(pattern, ""); // 정규식에 일치하는 부분을 빈 문자열로 대체하여 삭제
    }
</script>
</body>
</html>
